.wp-submenu .awsm-jobs-get-pro {
	color: #00d1d4;
}

/*
* Dashboard Widget
*/

.awsm-jobs-dashboard-table {
	border: 1px solid #ccd0d4;
}

.awsm-jobs-dashboard-table th {
	border-bottom: 1px solid #ccd0d4;
}

.awsm-jobs-dashboard-table td {
	border-top: 1px solid #ccd0d4;
}

.awsm-jobs-dashboard-table tr:first-child td {
	border-top: none;
}

.awsm-jobs-statistics {
	box-sizing: border-box;
	display: flex;
	margin: 12px 0px;
	padding: 10px 20px;
	width: 100%;
}

.awsm-jobs-statistic {
    flex: 1;
}
