.wp-submenu .awsm-jobs-get-pro {
	color: #00d1d4;
}

/*
* Dashboard Widget
*/

.awsm-jobs-dashboard-table {
	border: 1px solid #ccd0d4;
}

.awsm-jobs-dashboard-table th {
	border-bottom: 1px solid #ccd0d4;
}

.awsm-jobs-dashboard-table td {
	border-top: 1px solid #ccd0d4;
}

.awsm-jobs-dashboard-table tr:first-child td {
	border-top: none;
}

.awsm-jobs-statistics {
	box-sizing: border-box;
	display: flex;
	margin: 12px 0px;
	padding: 10px 20px;
	width: 100%;
	background-color: #6CFAE4;
	border-radius: 6px;
	color: #000;
}

.awsm-jobs-statistic {
    flex: 1;
}
.awsm-jobs-statistic  span{
	display: block;
	font-size: 34px;
}
.awsm-jobs-dashboard-wrapper h3{
	font-weight: bold !important;
	font-size: 14px;
}
.awsm-jobs-dashboard-table{
	width: 100%;
}
.awsm-jobs-dashboard-table thead tr{
	background-color: #f5f5f5;
}
.awsm-jobs-dashboard-table a{
	font-weight: bold;
}
.awsm-jobs-dashboard-btn-wrapper{
	border-top: 1px solid #ccd0d4;
	margin: 15px -12px 0;
	padding: 15px 12px 0;
}
.wp-core-ui .awsm-jobs-get-pro-btn {
	background-color: #000;
	padding: 0 15px;
	line-height: 28px;
	color: #6CFAE4;
	font-weight: bold;
	box-shadow: none;
	outline: none;
	min-height: 30px;
	margin-right: 4px;
	border: none;
	float:right;
	border-radius: 20px;
}
.wp-core-ui .awsm-jobs-get-pro-btn:hover, .wp-core-ui .awsm-jobs-get-pro-btn:focus, .wp-core-ui .awsm-jobs-get-pro-btn:active{
		background-color: #000;
		color: #6CFAE4;
		box-shadow: rgb(0 0 0 / 37%) 0 3px 5px;
		outline: none;
}
.wp-core-ui .awsm-jobs-get-pro-btn:disabled, .wp-core-ui .awsm-jobs-get-pro-btn[disabled] {
	background-color: #00D5AF !important;
	border-color: #00AC8D !important;
	color: #fff !important;
	text-shadow: none !important;
}
.wp-core-ui .awsm-jobs-dashboard-btn.button-link {
	background: none;
	border: none;
	padding: 0 15px;
	line-height: 30px;
	color: #016087;
}
.wp-core-ui .awsm-jobs-dashboard-btn.button-link:hover, .wp-core-ui .awsm-jobs-dashboard-btn.button-link:focus, .wp-core-ui .awsm-jobs-dashboard-btn.button-link:active{
	background: none;
	color: #0071a1;
	box-shadow: none;
	outline: none;
}
