includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 5
	inferPrivatePropertyTypeFromConstructor: true
	bootstrapFiles:
		- inc/helper-functions.php
		- inc/template-functions.php
	paths:
		- wp-job-openings.php
		- inc/class-awsm-job-openings-core.php
		- inc/class-awsm-job-openings-ui-builder.php
		- inc/class-awsm-job-openings-filters.php
		- inc/class-awsm-job-openings-form.php
		- inc/class-awsm-job-openings-mail-customizer.php
		- inc/widgets/class-awsm-job-openings-recent-jobs-widget.php
		- inc/widgets/class-awsm-job-openings-dashboard-widget.php
		- admin/class-awsm-job-openings-overview.php
		- admin/class-awsm-job-openings-meta.php
		- admin/class-awsm-job-openings-info.php
		- admin/class-awsm-job-openings-settings.php
		- inc/class-awsm-job-openings-uninstall.php
	ignoreErrors:
		# Uses func_get_args()
		- '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
		# Methods
		- '#Function vc_is_inline not found#'
		-
			message: '#Parameter \#1 \$postarr of function wp_insert_post expects array#'
			path: inc/class-awsm-job-openings-form.php
			count: 1
		# Constants
		- '#^Constant AWSM_JOBS_PLUGIN_DIR not found\.$#'
		- '#^Constant AWSM_JOBS_PLUGIN_URL not found\.$#'
		# Properties
