.awsm-jobs-overview {
	position: relative;
	margin: 16px 0;
	border: 1px solid #c3c4c7;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	background: rgb(255, 255, 255);
	line-height: 1.7;
}
.awsm-jobs-overview a,
.awsm-jobs-overview-mb-wrapper a {
	text-decoration: none;
}
.awsm-jobs-overview *,
.awsm-jobs-overview-mb-wrapper * {
	box-sizing: border-box;
}
.awsm-jobs-overview-row {
	display: flex;
	flex-wrap: wrap;
}
.awsm-jobs-overview-row:not(:last-child) {
	border-bottom: 1px solid #c3c4c7;
}
.awsm-jobs-overview-col {
	padding: 25px;
	flex: 0 0 auto;
	width: 100%;
}
.awsm-jobs-overview-col:not(:last-child) {
	border-bottom: 1px solid #c3c4c7;
}
.awsm-jobs-overview-welcome {
	font-size: 16px;
	padding: 32px 25px;
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 auto;
	width: 100%;
	justify-content: space-between;
}
.awsm-jobs-overview-welcome-left {
	flex: 0 0 auto;
	width: 100%;
	padding-bottom: 30px;
}
.awsm-jobs-overview-welcome-right {
	flex: 0 0 auto;
	width: 100%;
}
.awsm-jobs-overview-welcome p {
	font-size: 16px;
	margin: 0 0 15px;
}
.awsm-jobs-overview-welcome-right ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}
.awsm-jobs-overview-welcome-right ul li {
	padding-right: 20px;
	padding-left: 25px;
	padding-bottom: 13px;
	border-left: 3px solid rgba(0, 213, 175, 0.7);
	width: 33.3333%;
}
.awsm-jobs-overview-welcome-right ul li span {
	display: block;
	font-size: 27px;
	font-weight: bold;
	margin-block: 6px;
}
.awsm-jobs-overview-mb-wrapper {
	overflow: hidden;
	margin: 0 -8px;
}
.awsm-jobs-overview-table {
	border: 1px solid #c1c1c1;
	margin: 0;
	border-collapse: collapse;
	width: 100%;
}
.inside .awsm-jobs-overview-widget-wrapper.with-table{
	margin: -11px -12px -13px;
}
.inside .awsm-jobs-overview-table{
	border-width: 0;

}
.awsm-jobs-overview-table thead th,
.awsm-jobs-overview-table tbody td,
.awsm-jobs-overview-table tfoot td {
	border-bottom: 1px solid #c1c1c1;
	padding: 13px;
}
.awsm-jobs-overview-table tfoot td{
	text-align: center;
}
.awsm-jobs-overview-table tfoot td a{
	font-weight: bold;
}
.inside .awsm-jobs-overview-table thead{
	background: #EFF2F3;
}
.awsm-jobs-overview-table thead th {
	text-transform: uppercase;
	font-size: 11px;
	text-align: left;
	padding: 8px 13px;
}
.awsm-jobs-overview-table tbody td {
	font-size: 14px;
}
.awsm-jobs-overview-chart-wrapper {
	position: relative;
	margin: auto;
	padding: 14px 5px;
}
.awsm-jobs-overview-chart-wrapper canvas {
	width: 100%;
	height: 100%;
}
.awsm-jobs-overview-applicant {
	overflow: hidden;
}
.awsm-jobs-overview-applicant > img {
	float: left;
	margin-right: 12px;
}
.awsm-jobs-overview-applicant-in {
	overflow: hidden;
}
.awsm-jobs-overview-applicant a {
	font-weight: bold;
}
.awsm-jobs-overview-applicant-in span {
	display: block;
	font-size: 12px;
	color: #777;
}
.awsm-jobs-pro-feature {
	position: relative;
}
.awsm-jobs-pro-feature::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.92);
}
.awsm-jobs-pro-feature p {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10px;
	margin: 0;
	font-size: 14px;
}
.awsm-jobs-pro-feature p a {
	color: #000;
	margin: 0 3px;
	text-decoration: underline;
}
.awsm-jobs-pro-feature img {
	max-width: 100%;
}
.awsm-jobs-overview-empty-wrapper {
	position: relative;
	height: 400px;
}
.awsm-jobs-overview-empty-wrapper::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.92);
}
.awsm-jobs-overview-empty-wrapper p {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10px;
	margin: 0;
	font-size: 14px;
}
.awsm-jobs-overview-empty-wrapper p a {
	color: #000;
	margin: 0 3px;
	text-decoration: underline;
}
.awsm-jobs-overview-empty-wrapper img {
	max-width: 100%;
	height: 100%;
	object-fit: contain;
}
@media (min-width: 992px) {
	.awsm-jobs-overview-welcome-left {
		width: 33.3333%;
		padding: 0 20px 0 0;
	}
	.awsm-jobs-overview-welcome-right {
		width: 60.667%;
		padding-left: 20px;
	}
	.awsm-jobs-overview-col:not(:last-child) {
		border-right: 1px solid #c3c4c7;
		border-bottom: none;
	}
}
.awsm-jobs-overview-widget-get-started{
	display: flex;
	justify-content: space-between;
}
.awsm-jobs-overview-widget-get-started-image{
	margin-right: -12px;
}
