@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.awsm-jobs-button{
	border-radius: 4px;
	background: #000;
	padding: 12px 18px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.333;
	letter-spacing: -0.24px;
	display: inline-block;
	transition: all 0.3s ease;
}
.awsm-jobs-button:hover{
	background: #6bfae4;
	color: #000;
}
.awsm-jobs-button:focus, .awsm-jobs-button:active{
	background: #6bfae4;
	color: #000;
}
.awsm-jobs-pro-feature {
	position: relative;
}
.awsm-jobs-pro-feature::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.92);
}
.awsm-jobs-pro-feature p {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10px;
	margin: 0;
	font-size: 14px;
}
.awsm-jobs-pro-feature p a {
	color: #000;
	margin: 0 3px;
	text-decoration: underline;
}
.awsm-jobs-pro-feature img {
	max-width: 100%;
}
.awsm-jobs-overview {
	position: relative;	
	font-family: Inter;
	margin-top: 30px;
}
.awsm-jobs-overview, .awsm-jobs-overview *{
	box-sizing: border-box;
}
.awsm-jobs-overview a,
.awsm-jobs-overview-mb-wrapper a {
	text-decoration: none;
}
.awsm-jobs-overview *,
.awsm-jobs-overview-mb-wrapper * {
	box-sizing: border-box;
}
.awsm-jobs-overview-row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}
.awsm-jobs-overview-col {
	padding: 0 10px;
	flex: 0 0 auto;
	width: 100%;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
}
.awsm-jobs-overview-col .flex-item{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.awsm-jobs-overview-col-head{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 8px;
	align-items: center;
	margin-bottom: 20px;
}
.awsm-jobs-overview-col-head h2{
	font-size: 16px;
	font-weight: 500;
	line-height: 1.25;
	letter-spacing: -0.32px;
	color: #161616;
	margin: 0;
}
.awsm-jobs-overview-col-head > a{
	display: flex;
	align-items: center;
	gap: 10px;
	color: #161616;
	line-height: 1.333;
	font-weight: 500;
}
.awsm-jobs-overview-col-head a svg{
	transition: all 0.3s ease;
}
.awsm-jobs-overview-col-head > a:hover svg{
	margin-left: 4px;
}
.awsm-jobs-overview-col-head > span{
	display: flex;
	align-items: center;
	gap:  6px;
	color: #161616;
	line-height: 1.333;
	font-weight: 500;
}
.awsm-jobs-overview-col-head > span svg{
	fill: #898989;
}


.awsm-jobs-overview-welcome {
	font-size: 16px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex: 0 0 auto;
	width: 100%;
	justify-content: space-between;
	border-radius: 10px;
	background: #FCFDFF;
	color: #161616;
	align-items: center;
}
.awsm-jobs-overview-welcome-left {
	flex: 0 0 auto;
	width: 100%;
	padding-bottom: 30px;
}
.awsm-jobs-overview-welcome-right {
	flex: 0 0 auto;
	width: 100%;
}
.awsm-jobs-overview-welcome h3{
	font-size: 24px;
	font-weight: 700;
	color: #161616;
	margin: 0 0 6px;
	line-height: 1.5;
	letter-spacing: -0.48px;
}
.awsm-jobs-overview-welcome p {
	font-size: 16px;
	margin: 0 0 12px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: -0.32px;
}
.awsm-jobs-overview-welcome-right ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 20px;
}
.awsm-jobs-overview-welcome-right ul li {
	padding: 36px 10px;
	text-align: center;
	border-radius: 10px;
	border: 1px solid #C6FFF6;
	background: #DEFFFA;
	width: calc(33.3333% - 10px);
	letter-spacing: -0.24px;
	color: #525252;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.awsm-jobs-overview-welcome-right ul li img{
	margin-block: 10px;
}
.awsm-jobs-overview-welcome-right ul li span {
	display: block;
	font-size: 20px;
	font-weight: 500;
	margin-top: 4px;
	letter-spacing: -0.4px;
	color: #161616;
}

.awsm-jobs-overview-chart{
	border-radius: 10px;
	background: #FFF;
	padding: 26px 20px;
}
.awsm-jobs-overview-get-started{
	padding: 26px 20px;
	border-radius: 10px;
	background: url('../img/get-started.svg') no-repeat calc(100% - 10px) calc(100% - 10px) #6CFAE4;
}
.awsm-jobs-overview-get-started h3{
	font-size: 32px;
	font-weight: 600;
	line-height: 1.125;
	letter-spacing: -0.64px;
	margin: 0 0 19px;
}
.awsm-jobs-overview-get-started ul{
	list-style: none;
	padding: 0;
	margin: 0 0 40px;
	display: flex;
	flex-direction: column;
	gap:  6px;
}
.awsm-jobs-overview-get-started ul a{
	display: flex;
	align-items: center;
	gap:  6px;
	color: #161616;
	font-size: 13px;
	line-height: 1.3333;
	letter-spacing: -0.24px;
	outline: none;
	box-shadow: none;
}
.awsm-jobs-overview-get-started ul a svg{
	min-width: 10px;
	fill: #161616;
	transition:  all 0.3s ease;
}
.awsm-jobs-overview-get-started ul a:hover svg{
	margin-left: 4px;
}

.awsm-jobs-overview-list-item{
	border-radius: 10px;
	background: #FFF;
	transition: all 0.3s ease;
	display: flex;
	align-items: center;
	padding: 17px 50px 17px 20px;
	position: relative;
	gap:  8px;
	color: #898989;
	line-height: 1.333;
	letter-spacing: -0.24px;
}

.awsm-jobs-overview-list-interview .awsm-jobs-overview-list-item{
	padding: 20px;
	flex-direction: column;
	align-items: flex-start;
}
.awsm-jobs-overview-list-item:hover{
	box-shadow: 26px 21px 41.7px 0px rgba(0, 0, 0, 0.06);
}
.awsm-jobs-overview-list-item:not(:last-child){
	margin-bottom: 12px;
}
.awsm-jobs-overview-list-item svg{
	position: absolute;
	right: 30px;
	top: calc(50% - 5px);
	fill:  #161616;
	transition: all 0.3s ease;
}
.awsm-jobs-overview-list-item:hover svg{
	fill: #6CFAE4;
}
.awsm-jobs-overview-list-item img{
	max-width: 36px;
	min-width: 36px;
	width: 100%;
	border-radius: 50%;
	height: auto;
}
.awsm-jobs-overview-list-item span.count{
	width: 36px;
	min-width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: #6CFAE4;
	font-size: 16px;
	line-height: 1;
	letter-spacing: -0.32px;
	color: #161616;
}
.awsm-jobs-overview-list-item p{
	margin: 0;	
}
.awsm-jobs-overview-list-item p strong{
	display: block;
	font-weight: 600;
	color: #161616;
}
.awsm-jobs-overview-list-item p span{
	color: #161616;
}
.awsm-jobs-overview-list-item-main{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 12px;
	border-bottom: 1px solid #E2E2E8;
	padding-bottom: 12px;
	margin-bottom: 12px;
}
.awsm-jobs-overview-list-item-main p{
	width: calc(55% - 12px);
}
.awsm-jobs-overview-list-item-main p:first-child{
	padding-right: 12px;
	border-right: 1px solid #E2E2E8;
	width: 45%;
}
.awsm-jobs-overview-list-item ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
	line-height: 1.333;
	letter-spacing: -0.24px;
	font-weight: 600;
	color: #161616;
}
.awsm-jobs-overview-list-item ul span{
	display: block;
	margin-bottom: 4px;
	color: #898989;
}
.awsm-jobs-overview-empty-wrapper {
	position: relative;
	min-height: 256px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	height: 100%;
}
.awsm-jobs-overview-empty-wrapper::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.92);
}
.awsm-jobs-overview-empty-wrapper p {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10px;
	margin: 0;
	flex-direction: column;
	font-size: 14px;
	gap:  10px;
}
.awsm-jobs-overview-empty-wrapper p a {
	border-radius: 4px;
	border: 1px solid #D1D1D1;
	background: #FFF;
	padding: 7px 18px;
	font-size: 13px;
	line-height: 1.2;
	letter-spacing: -0.24px;
	color: #161616;
	text-decoration: none;
	box-shadow: none;
	margin-top: 5px;
}
.awsm-jobs-overview-empty-wrapper p img{
	max-width: 53px;
	height: auto;
}
.awsm-jobs-overview-empty-wrapper a:hover{
	background: #6CFAE4;
	color: #161616;
}
.awsm-jobs-overview-empty-wrapper > img {
	max-width: 100%;
	height: 100%;
	object-fit: contain;
}
.awsm-jobs-overview-positions .awsm-jobs-overview-empty-wrapper a{
	margin-bottom: -48px;
}


@media (min-width: 992px) {
	.awsm-jobs-overview-col:not(.awsm-jobs-overview-col-fw){
		width: 33.333%;
	}
	.awsm-jobs-overview-welcome-left {
		width: 25%;
		padding: 0 0 0 10px;
	}
	.awsm-jobs-overview-welcome-right {
		width: 75%;
		padding-left: 20px;
	}	
}

.awsm-wpjo-addon-items{
	background: #fff;
	border-radius: 10px;
	padding: 0 20px;
}
.awsm-wpjo-addon-item{
	padding: 20px 0;
}
.awsm-wpjo-addon-item:not(:last-child){
	border-bottom: 1px solid #E2E2E8;
}
.awsm-wpjo-addon-item-head{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap:  10px;
	font-size: 13px;
	margin-bottom: 10px;
}
.awsm-wpjo-addon-item-head h3{
	font-size: 13px;
	font-weight: bold;
	color: #161616;
	margin: 0 0 2px;
}
.awsm-wpjo-addon-item-head p{
	color: #161616;
	margin: 0;
	font-weight: 500;
}
.awsm-wpjo-addon-item-head > a,
.awsm-wpjo-addon-item-head a.button-large{
	border-radius: 4px;
	border: 1px solid #D1D1D1;
	background: #FFF;
	padding: 7px 18px;
	font-size: 13px;
	line-height: 1.2;
	letter-spacing: -0.24px;
	color: #161616;
	text-decoration: none;
	box-shadow: none;
	transition: all 0.3s ease;
}
.awsm-wpjo-addon-item-head > a:hover,
.awsm-wpjo-addon-item-head a.button-large:hover{
	border-color: #0bcfb1;
	background-color: #ffffff;
	color: #0bcfb1;
}
.awsm-wpjo-addon-item-head h3 a{
	color: #161616;
	text-decoration: none;
	transition: all 0.3s ease;
}
.awsm-wpjo-addon-item-head h3 a:hover{
	color: #0bcfb1;
}
.awsm-wpjo-addon-item > p{
	margin: 0;
	color: #666;
	font-size: 13px;
}