// ---- Grid / Row ----

.awsm-b-row {
	margin: 0 -15px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	display: flexbox;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.awsm-b-row,
.awsm-b-row *,
.awsm-b-row *::before,
.awsm-b-row *::after {
	box-sizing: border-box;
}

.awsm-b-grid-item {
	float: left;
	width: 33.333%;
	padding: 0 15px !important;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
}

.awsm-b-grid-col-4 .awsm-b-grid-item {
	width: 25%;
}

.awsm-b-grid-col-2 .awsm-b-grid-item {
	width: 50%;
}

.awsm-b-grid-col .awsm-b-grid-item {
	width: 100%;
}

// ---- Visibility ----

.awsm-b-job-hide {
	display: none !important;
}


// ---- Job Item ----

.awsm-b-job-item {
	background: var(--hz-jl-bg-color, #fff);
	color: var(--hz-jl-tx-color);
	padding-top: var(--hz-jl-padding-top, 15px);
	padding-right: var(--hz-jl-padding-right, 15px);
	padding-bottom: var(--hz-jl-padding-bottom, 15px);
	padding-left: var(--hz-jl-padding-left, 15px);
	font-size: 14px;
}

a.awsm-b-job-item {
	text-decoration: none !important;
}

.awsm-b-grid-item .awsm-b-job-item {
	margin-bottom: 30px;
	box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
	border: var(--hz-jl-border-width, 1px) solid var(--hz-jl-border-color, #CBCBCB);
	border-radius:
		var(--hz-jl-border-radius-topleft, 5px) var(--hz-jl-border-radius-topright, 5px) var(--hz-jl-border-radius-bottomright, 5px) var(--hz-jl-border-radius-bottomleft, 5px);
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	flex-grow: 1;
	-webkit-flex-grow: 1;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.awsm-b-grid-item .awsm-b-job-item:hover,
.awsm-b-grid-item .awsm-b-job-item:focus {
	box-shadow: 0 3px 15px -5px rgb(0 0 0 / 20%);
}

.awsm-b-grid-item .awsm-job-featured-image {
	margin-bottom: 14px;
}

.awsm-b-job-item h2.awsm-b-job-post-title {
	margin: 0 0 15px;
	font-size: 18px;
	text-align: left;
}

.awsm-b-job-item .awsm-b-stack-left-col-in h2.awsm-b-job-post-title {
	margin-bottom: 8px;
}

.awsm-b-job-item h2.awsm-b-job-post-title a {
	font-size: 18px;
	color: var(--hz-jl-tx-color);
	text-decoration: none;
}

.awsm-b-grid-item .awsm-b-job-more-container {
	margin-top: 10px;
}

.awsm-b-job-wrap::after {
	clear: both;
	content: '';
	display: table;
}

// ---- Filter ----

.awsm-b-filter-wrap,
.awsm-b-filter-wrap * {
	box-sizing: border-box;
}

.awsm-b-filter-wrap {
	margin: 0 -10px 20px;
}

// Avoid a flash of native <select> elements before Selectric initializes (notable on refresh).
.awsm-b-filter-wrap.awsm-selectric-loading .awsm-b-filter-item:not(.awsm-b-filter-item-search) {
	visibility: hidden;
}

.awsm-b-filter-wrap form {
	display: flex;
	flex-wrap: wrap;
}

.awsm-b-filter-wrap .awsm-b-filter-items {
	display: none;
}

.awsm-b-filter-wrap.awsm-b-full-width-search-filter-wrap .awsm-b-filter-item-search {
	width: 100%;
}

.awsm-b-filter-wrap.awsm-b-full-width-search-filter-wrap .awsm-b-filter-items,
.awsm-b-filter-wrap.awsm-b-no-search-filter-wrap .awsm-b-filter-items {
	width: 100%;
}

.awsm-b-filter-toggle {
	display: flex;
	flex-flow: wrap;
	width: 46px;
	padding: 12px;
	border: 1px solid var(--hz-ls-border-color, #cccccc);
	margin: 0 10px 10px;
	border-radius: 4px;
	outline: none !important;
	background-color: var(--hz-sf-bg-color, transparent);
	color: var(--hz-sf-tx-color, #191919);
}

.awsm-b-filter-toggle.awsm-on {
	background-color: color-mix(in srgb, var(--hz-sf-bg-color, #cccccc), black 5%);
}

.awsm-b-filter-toggle:hover {
	background-color: color-mix(in srgb, var(--hz-sf-bg-color, #cccccc), black 5%);
	border-color: color-mix(in srgb, var(--hz-ls-border-color, #cccccc), black 5%);
}

.awsm-b-filter-toggle svg {
	width: 20px;
	height: 20px;
}

.awsm-b-filter-toggle svg path {
	fill: var(--hz-sf-tx-color, #191919);
}

.awsm-b-filter-wrap.awsm-b-no-search-filter-wrap .awsm-b-filter-toggle {
	width: 100%;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
}

.awsm-b-filter-wrap.awsm-b-no-search-filter-wrap .awsm-b-filter-toggle svg {
	width: 22px;
	height: 22px;
}

@media (min-width: 768px) {
	.awsm-b-filter-wrap .awsm-b-filter-items {
		display: flex !important;
		flex-wrap: wrap;
		width: calc(100% - 250px);
	}

	.awsm-b-filter-wrap.awsm-b-full-width-search-filter-wrap .awsm-b-filter-items,
	.awsm-b-filter-wrap.awsm-b-no-search-filter-wrap .awsm-b-filter-items {
		width: 100%;
	}

	.awsm-b-filter-toggle {
		display: none;
	}

	.awsm-b-filter-item-search {
		width: 250px;
	}

	.awsm-b-filter-wrap.awsm-b-full-width-search-filter-wrap .awsm-b-filter-item-search {
		width: 100%;
	}
}

.awsm-b-filter-item-search .awsm-b-job-form-control:focus {
	border: var(--hz-ls-border-width, 1px) solid var(--hz-ls-border-color, #cccccc);
	background-color: var(--hz-sf-bg-color, #ffffff);
	color: var(--hz-sf-tx-color, inherit);
	outline: none;
	box-shadow: none;
}

.awsm-b-filter-wrap .awsm-b-filter-item {
	padding: 0 10px 10px;
	max-width: 100%;
}

.awsm-b-filter-item-search {
	position: relative;
	padding: 0 10px 10px;
}

@media (max-width: 768px) {
	.awsm-b-filter-wrap .awsm-b-filter-items {
		width: 100%;
	}

	.awsm-b-filter-item-search {
		width: calc(100% - 66px);
	}

	.awsm-b-filter-wrap .awsm-b-filter-item .awsm-selectric-wrapper {
		min-width: 100%;
	}
}

.awsm-b-filter-wrap .awsm-b-filter-item .awsm-b-job-form-control {
	min-height: 48px;
	padding-right: 58px;
}

.awsm-b-filter-item-search .awsm-b-job-form-control {
	padding-right: 48px;
	padding-left: 9px;
	min-height: 48px;
	border: var(--hz-ls-border-width, 1px) solid var(--hz-ls-border-color, #cccccc);
	border-radius:
		var(--hz-ls-border-radius-topleft, 5px) var(--hz-ls-border-radius-topright, 5px) var(--hz-ls-border-radius-bottomright, 5px) var(--hz-ls-border-radius-bottomleft, 5px) !important;
	font-size: 14px;
	width: 100%;
	background-color: var(--hz-sf-bg-color);
	color: var(--hz-sf-tx-color);
}

.awsm-b-filter-item-search-in {
	position: relative;
}

.awsm-b-filter-item-search .awsm-b-job-search-icon-wrapper {
	position: absolute;
	right: 0;
	top: 0;
	width: 48px;
	height: 100%;
	font-size: 16px;
	color: var(--hz-sf-tx-color, #ccc);
	line-height: 48px;
	text-align: center;
	cursor: pointer;
}

// ---- No Results ----

.awsm-b-jobs-none-container {
	padding: 25px;
}

.awsm-b-jobs-none-container p {
	margin: 0;
	padding: 5px;
}

// ---- Pagination ----

.awsm-b-row .awsm-b-jobs-pagination {
	padding: 0 15px;
	width: 100%;
}

.awsm-b-jobs-pagination {
	float: left;
	width: 100%;
}

.awsm-b-load-more-main a.awsm-b-load-more,
.awsm-b-load-more-classic a.page-numbers {
	display: block;
	text-align: center;
	padding: 20px;
	background-color: var(--hz-pagination-bg-color, #fff);
	box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
	margin: 0 !important;
	text-decoration: none !important;
	outline: none !important;
	transition: all 0.3s ease;
	border-radius: var(--hz-pagination-border-radius-topleft, 5px) var(--hz-pagination-border-radius-topright, 5px) var(--hz-pagination-border-radius-bottomright, 5px) var(--hz-pagination-border-radius-bottomleft, 5px);
	border-width: var(--hz-pagination-border-width, 1px);
	border-style: var(--hz-pagination-border-style, solid);
	border-color: var(--hz-pagination-border-color, #cbcbcb);
	color: var(--hz-pagination-tx-color);
}

.awsm-b-load-more-main a.awsm-b-load-more:hover, .awsm-b-load-more-classic a.page-numbers:hover{
	background-color: color-mix(in srgb, var(--hz-pagination-bg-color, #fff), black 5%);
	border-color: color-mix(in srgb, var(--hz-pagination-border-color, #cbcbcb), black 5%);
	color: var(--hz-pagination-tx-color);
}

.awsm-b-load-more-classic a.page-numbers,
.awsm-b-load-more-classic span.page-numbers {
	padding: 5px 10px;
	font-size: 90%;
}

.awsm-b-load-more-classic {
	text-align: center;
}

.awsm-b-load-more-main a.awsm-b-load-more:hover,
.awsm-b-load-more-main a.awsm-b-load-more:focus,
.awsm-b-load-more-classic a.page-numbers:hover,
.awsm-b-load-more-classic a.page-numbers:focus {
	box-shadow: 0 3px 15px -5px rgb(0 0 0 / 20%);
}

.awsm-b-jobs-pagination.awsm-b-load-more-classic ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.awsm-b-jobs-pagination.awsm-b-load-more-classic ul li {
	display: inline-block;
}

// ---- List ----

.awsm-b-lists {
	border: var(--hz-jl-border-width, 1px) solid var(--hz-jl-border-color, #CBCBCB);
	border-radius:
		var(--hz-jl-border-radius-topleft, 0px) var(--hz-jl-border-radius-topright, 0px) var(--hz-jl-border-radius-bottomright, 0px) var(--hz-jl-border-radius-bottomleft, 0px);
	overflow:hidden;
}

.awsm-b-list-item:last-child .awsm-b-job-item {
	border-bottom: none;
}

.awsm-b-list-item {
	width: 100%;
}

.awsm-b-list-item h2.awsm-job-b-post-title {
	margin-bottom: 0;
}

.awsm-b-list-item .awsm-job-featured-image {
	float: left;
	margin-right: 10px;
}

.awsm-b-list-item .awsm-job-featured-image img {
	width: 50px;
	height: 50px;
}

.awsm-job-featured-image img {
	max-width: 100%;
	height: auto;
}

.awsm-b-list-item .awsm-b-job-item {
	border-bottom: var(--hz-jl-border-width, 1px) solid var(--hz-jl-border-color, #CBCBCB);
}

.awsm-b-list-item .awsm-b-job-item::after {
	content: "";
	display: table;
	clear: both;
}

.awsm-b-list-left-col {
	float: left;
	width: 50%;
}

.awsm-b-list-right-col {
	float: left;
	width: 50%;
	text-align: right;
}

.awsm-b-list-item .awsm-job-specification-wrapper {
	display: inline-block;
	vertical-align: middle;
}

.awsm-b-list-item .awsm-job-specification-item {
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px 0 0;
}

a.awsm-b-job-item .awsm-job-specification-item {
	color: var(--hz-jl-tx-color, #4C4C4C);
}

.awsm-b-list-item .awsm-b-job-more-container {
	display: inline-block;
	vertical-align: middle;
}


.awsm-b-lists + .awsm-b-jobs-pagination {
	margin-top: 30px;
}

.awsm-job-specification-item>[class^="awsm-job-icon-"] {
	margin-right: 6px;
}

.awsm-job-specification-term::after {
	content: ", ";
}

.awsm-job-specification-term:last-child::after {
	content: "";
}


// ---- Loading State ----

.awsm-b-jobs-loading {
	position: relative;
}

.awsm-b-job-listings.awsm-b-jobs-loading::after {
	opacity: 1;
	visibility: visible;
}

.awsm-b-job-listings::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5) url(../../assets/img/loading.svg) no-repeat center;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

// ---- Accessibility ----

.awsm-b-sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

// ---- Media Queries ----

@media (max-width: 1024px) {
	.awsm-b-grid-col-4 .awsm-b-grid-item {
		width: 33.333%;
	}
}


@media (max-width: 768px) {

	.awsm-b-grid-col-4 .awsm-b-grid-item,
	.awsm-b-grid-col-3 .awsm-b-grid-item,
	.awsm-b-grid-item {
		width: 50%;
	}

	.awsm-b-list-left-col {
		width: 100%;
		padding-bottom: 10px;
	}

	.awsm-b-list-right-col {
		width: 100%;
		text-align: left;
	}
}

@media (max-width: 648px) {

	.awsm-b-grid-col-4 .awsm-b-grid-item,
	.awsm-b-grid-col-3 .awsm-b-grid-item,
	.awsm-b-grid-col-2 .awsm-b-grid-item,
	.awsm-b-grid-item {
		width: 100%;
	}

	.awsm-b-list-item .awsm-job-specification-wrapper {
		display: block;
		padding-bottom: 5px;
		float: none;
	}

	.awsm-b-list-item .awsm-b-job-more-container {
		display: block;
		float: none;
	}
}

// ---- Form Plugin Style ----

.awsm-job-form-plugin-style .awsm-b-job-form-control {
	display: block;
	width: 100%;
	font: inherit;
	padding: 8px 15px;
	min-height: 46px;
	font-size: 14px;
	border: var(--hz-ls-border-width, 1px) solid var(--hz-ls-border-color, #ccc);
	border-radius:
		var(--hz-ls-border-radius-topleft, 5px) var(--hz-ls-border-radius-topright, 5px) var(--hz-ls-border-radius-bottomright, 5px) var(--hz-ls-border-radius-bottomleft, 5px) !important;
	line-height: 1;
	color: var(--hz-sf-tx-color, #060606);
	transition: all 0.3s ease;
}

.awsm-job-form-plugin-style .awsm-b-job-form-control:focus {
	outline: none;
	box-shadow: none;
	border-color: #060606;
}

.awsm-job-form-plugin-style .awsm-b-job-form-control::placeholder,
.awsm-b-filter-item-search .awsm-b-job-form-control::placeholder {
	color: color-mix(in srgb, var(--hz-sf-tx-color, #060606), white 55%);
	opacity: 1;
}

.awsm-job-form-plugin-style .awsm-b-job-form-control::-webkit-input-placeholder,
.awsm-b-filter-wrap .awsm-b-job-form-control::-webkit-input-placeholder {
	color: color-mix(in srgb, var(--hz-sf-tx-color, #060606), white 55%);
	opacity: 1;
}

.awsm-job-form-plugin-style .awsm-b-job-form-control::-moz-placeholder,
.awsm-b-filter-wrap .awsm-b-job-form-control::-moz-placeholder {
	color: color-mix(in srgb, var(--hz-sf-tx-color, #060606), white 55%);
	opacity: 1;
}

.awsm-job-form-plugin-style .awsm-b-job-form-control:-ms-input-placeholder,
.awsm-b-filter-wrap .awsm-b-job-form-control:-ms-input-placeholder {
	color: color-mix(in srgb, var(--hz-sf-tx-color, #060606), white 55%);
	opacity: 1;
}


.awsm-job-form-plugin-style .awsm-b-job-form-control.awsm-job-form-error {
	border-color: #db4c4c;
}

.awsm-job-form-plugin-style textarea.awsm-b-job-form-control {
	min-height: 80px;
}

.awsm-job-form-plugin-style .awsm-jobs-primary-button,
.awsm-job-form-plugin-style .awsm-application-submit-btn {
	background: #060606;
	border-radius: 45px;
	transition: all 0.3s ease;
	padding: 16px 32px;
	color: #fff;
}

.awsm-job-form-plugin-style .awsm-jobs-primary-button:hover,
.awsm-job-form-plugin-style .awsm-jobs-primary-button:focus,
.awsm-job-form-plugin-style .awsm-application-submit-btn:hover,
.awsm-job-form-plugin-style .awsm-application-submit-btn:focus {
	color: #fff;
	outline: none;
	background: #060606;
}

.awsm-job-form-plugin-style .awsm-jobs-primary-button {
	cursor: pointer;
}

.awsm-job-form-plugin-style .awsm-jobs-primary-button:disabled {
	opacity: 0.5;
	pointer-events: none;
}

.awsm-b-filter-item .awsm-selectric {
	border: var(--hz-ls-border-width, 1px) solid var(--hz-ls-border-color, #cccccc);
	border-radius:
		var(--hz-ls-border-radius-topleft, 5px) var(--hz-ls-border-radius-topright, 5px) var(--hz-ls-border-radius-bottomright, 5px) var(--hz-ls-border-radius-bottomleft, 5px) !important;
	background-color: var(--hz-sf-bg-color);
	color: var(--hz-sf-tx-color);
}

.awsm-job-form-plugin-style .awsm-selectric {
	border-color: #ccc;
	box-shadow: none;
	border-radius: 5px;
}

.awsm-job-form-plugin-style .awsm-selectric-open .awsm-selectric {
	border-color: #060606;
}

.awsm-job-form-plugin-style .awsm-selectric .label {
	margin-left: 15px;
}

.awsm-b-filter-item .awsm-selectric .label {
	color: var(--hz-sf-tx-color, #444);
}

.awsm-b-filter-item .awsm-selectric .awsm-selectric-arrow-drop::after {
	border-top-color: var(--hz-sf-tx-color, #444);
}

.awsm-b-filter-item .awsm-selectric-focus .awsm-selectric {
	border-color: var(--hz-ls-border-color, #aaaaaa);
}

.awsm-b-filter-item .awsm-selectric-hover .awsm-selectric,
.awsm-b-filter-item .awsm-selectric-open .awsm-selectric {
	border-color: var(--hz-ls-border-color, #dbdbdb);
}


.awsm-b-filter-item .awsm-selectric-hover .awsm-selectric .awsm-selectric-arrow-drop:after {
	border-top-color: var(--hz-sf-tx-color, #444);
}

.awsm-b-filter-item .awsm-selectric-items {
	background-color: var(--hz-sf-bg-color, #fff);
	border-color: var(--hz-ls-border-color, #ccc);
}

.awsm-b-filter-item .awsm-selectric-items li {
	color: var(--hz-sf-tx-color, #666);
}

.awsm-b-filter-item .awsm-selectric-items li.selected {
	background: color-mix(in srgb, var(--hz-sf-bg-color, #fff), black 15%);
	color: color-mix(in srgb, var(--hz-sf-tx-color, #444), black 20%);
}

.awsm-b-filter-item .awsm-selectric-items li.highlighted {
	background: color-mix(in srgb, var(--hz-sf-bg-color, #fff), black 15%);
	color: color-mix(in srgb, var(--hz-sf-tx-color, #444), black 20%);
}

.awsm-b-filter-item .awsm-selectric-items li:hover {
	background: color-mix(in srgb, var(--hz-sf-bg-color, #fff), black 30%);
	color: color-mix(in srgb, var(--hz-sf-tx-color, #444), black 20%);
}

.awsm-jobs-alerts-popup-trigger-btn a.awsm-b-jobs-alerts-trigger-btn,
.awsm-b-filter-wrap .awsm-b-jobs-alerts-popup-trigger-btn a {
	border-width: var(--hz-alert-border-width, 1px);
	border-style: solid;
	border-color: var(--hz-alert-border-color, #cbcbcb);
	border-radius:
		var(--hz-alert-border-radius-topleft, 8px)
		var(--hz-alert-border-radius-topright, 8px)
		var(--hz-alert-border-radius-bottomright, 8px)
		var(--hz-alert-border-radius-bottomleft, 8px);
	background-color: var(--hz-alert-bg-color, #ffffff);
	color: var(--hz-alert-tx-color, #191919);
}

.awsm-jobs-alerts-popup-trigger-btn a.awsm-b-jobs-alerts-trigger-btn:hover,
.awsm-b-filter-wrap .awsm-b-jobs-alerts-popup-trigger-btn a:hover{
	background-color: color-mix(in srgb, var(--hz-alert-bg-color, #ffffff), black 5%);
	border-color: color-mix(in srgb, var(--hz-alert-border-color, #cbcbcb), black 5%);
	color: var(--hz-alert-tx-color, #191919);
}

.awsm-jobs-alerts-popup-trigger-btn a svg,
.awsm-b-filter-wrap .awsm-b-jobs-alerts-popup-trigger-btn a svg {
	fill: var(--hz-alert-tx-color, #191919);
}

.awsm-b-filter-wrap .awsm-b-jobs-alerts-popup-trigger-btn .awsm-b-jobs-alerts-btn-text {
	color: var(--hz-alert-tx-color, #191919);
}

.awsm-jobs-alerts-modal{ 
	box-sizing: border-box;
}

// ---- Job Wrap ----

.awsm-b-job-wrap,
.awsm-b-job-wrap * {
	box-sizing: border-box;
}

// ---- Filter Checkbox ----

.awsm-filter-check-label {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: calc(100% - 30px);
}

// ---- Two Column Layout ----

@media (min-width: 768.1px) {
	.awsm-job-2-col {
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
	}

	.awsm-job-2-col .awsm-b-filter-wrap {
		width: var(--hz-sidebar-width, 33.333%);
		padding-left: 15px;
		padding-right: 15px;
		margin-left: 0;
		margin-right: 0;
	}

	.awsm-job-2-col .awsm-jobs-alerts-popup-trigger-btn a {
		margin-top: 10px;
	}

	.awsm-job-2-col .awsm-b-job-listings {
		width: calc(100% - var(--hz-sidebar-width, 33.333%));
		padding-left: 15px;
		padding-right: 15px;
	}

	.awsm-job-2-col .awsm-b-filter-item-search,
	.awsm-job-2-col .awsm-b-filter-wrap .awsm-b-filter-item {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}

	.awsm-job-2-col .awsm-b-filter-wrap .awsm-b-filter-items {
		width: 100% !important;
	}

	.awsm-job-2-col .awsm-b-filter-wrap form {
		padding:
			var(--hz-sf-padding-top, 15px) var(--hz-sf-padding-right, 15px) var(--hz-sf-padding-bottom, 15px) var(--hz-sf-padding-left, 15px);
		border-width: var(--hz-sf-border-width, 1px);
		border-style: var(--hz-sf-border-style, solid);
		border-color: var(--hz-sf-border-color, transparent) !important;
		border-radius:
			var(--hz-sf-border-radius-topleft, 5px) var(--hz-sf-border-radius-topright, 5px) var(--hz-sf-border-radius-bottomright, 5px) var(--hz-sf-border-radius-bottomleft, 5px);
		background-color: var(--hz-sidebar-bg-color);
		color: var(--hz-sidebar-tx-color);
	}

	.awsm-job-2-col .awsm-b-filter-item:not(:last-child),
	.awsm-job-2-col .awsm-b-filter-item-search {
		padding-bottom: 20px;
	}

}

// ---- Side Placement Label Color ----

.awsm-job-2-col .awsm-b-filter-item > label {
	color: var(--hz-sidebar-tx-color);
}

// ---- Filter List ----

.awsm-b-filter-item:not(:first-child) .awsm-filter-list {
	border-top: 1px solid #ccc;
	padding-top: 30px;
}

@media (max-width: 768px) {
	.awsm-b-filter-item:not(:first-child) .awsm-filter-list {
		margin-top: 20px;
	}
}

.awsm-filter-list>label {
	margin-bottom: 10px;
}

.awsm-filter-list-items {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.awsm-filter-list-item label {
	margin-bottom: 0;
	line-height: 2;
	position: relative;
	display: block;
	font-size: 14px;
	font-weight: normal;
}

.awsm-filter-list-item input {
	position: absolute;
	opacity: 0;
}

.awsm-filter-list-item label div {
	position: relative;
	padding-left: 35px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.awsm-filter-checkbox-item {
	width: 20px;
	height: 20px;
	border-radius: 6px;
	border: 1px solid rgba(24, 46, 58, 0.40);
	background: #FFF;
	position: absolute;
	left: 0;
	top: calc(50% - 10px);
	transition: all 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.awsm-filter-checkbox-item svg {
	fill: #fff;
	transition: all 0.3s ease;
	opacity: 0;
}

.awsm-filter-item-count {
	display: block;
	padding: 3px 5px;
	font-weight: 600;
	font-size: 14px;
	line-height: 1;
	border-radius: 6px;
	background: #A3ABB0;
	color: #fff;
	transition: all 0.3s ease;
}

.awsm-filter-list-item input:checked+div .awsm-filter-checkbox-item {
	background: #4E35DF;
	border-color: #4E35DF;
}

.awsm-filter-list-item input:checked+div .awsm-filter-checkbox-item svg {
	opacity: 1;
}

.awsm-filter-list-item input:checked+div .awsm-filter-item-count {
	background: #D0C8FF;
	color: #4E35DF;
}

// ---- Sort Bar ----

.awsm-job-sort-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 30px;
	gap: 20px;
	flex-wrap: wrap;
}

.awsm-job-results {
	font-size: 14px;
	font-weight: 500;
}

.awsm-job-sort {
	display: flex;
	align-items: center;
	gap: 16px;
}

.awsm-job-sort label {
	font-size: 14px;
	font-weight: 500;
	margin: 0;
}

// ---- Stack Layout ----

.awsm-b-stack-item {
	width: 100%;
	margin-bottom: 20px;
	padding: 0 15px;
}

.awsm-b-stack-item .awsm-b-job-item {
	border-radius:
		var(--hz-jl-border-radius-topleft, 5px) var(--hz-jl-border-radius-topright, 5px) var(--hz-jl-border-radius-bottomright, 5px) var(--hz-jl-border-radius-bottomleft, 5px);
	border-width: var(--hz-jl-border-width, 1px);
	border-style: var(--hz-jl-border-style, solid);
	border-color: var(--hz-jl-border-color, #CBCBCB);
	padding-top: var(--hz-jl-padding-top, 15px);
	padding-right: var(--hz-jl-padding-right, 15px);
	padding-bottom: var(--hz-jl-padding-bottom, 15px);
	padding-left: var(--hz-jl-padding-left, 15px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;

	@media (max-width: 600px) {
		flex-direction: column;
		align-items: flex-start;
	}
}

.awsm-b-stack-left-col {
	flex: 1 1 auto;
	min-width: 0;
	display: flex;
	gap: 10px;

	@media (max-width: 600px) {
		width: 100%;
		flex-direction: column;
	}

	.awsm-job-featured-image {
		max-width: 55px;
		border-radius: 10px;
	}

	.awsm-job-specification-wrapper {
		display: flex;
		gap: 15px 30px;
		align-items: center;
		flex-wrap: wrap;
	}
}

.awsm-b-stack-right-col {
	flex: 0 0 auto;
	margin-left: auto;

	@media (max-width: 600px) {
		width: 100%;
		margin-left: 0;
		margin-top: 10px;
	}
}

// ---- Selectric Multi-select ----

.awsm-selectric-awsm-b-spec-multiple {
	.awsm-selectric-items {
		li {
			position: relative;
			padding-left: 40px !important;

			&::before {
				content: "";
				width: 20px;
				height: 20px;
				border-radius: 6px;
				border: 1px solid rgba(24, 46, 58, 0.40);
				background: #FFF;
				position: absolute;
				left: 10px;
				top: calc(50% - 10px);
				transition: all 0.3s ease;
			}

			&::after {
				content: "";
				width: 20px;
				height: 20px;
				border-radius: 6px;
				border: 1px solid #4E35DF;
				background: #4E35DF url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik04LjQ1NDQ0IDAuODQ4MDg4TDMuOTk5ODYgNS4zMDMxNUwxLjY2NjI5IDIuOTY5NThMMS41MjQ4NyAyLjgyODE2TDEuMzgzNDUgMi45Njk1OEwwLjY3NjQ1IDMuNjc2NThMMC41MzUwMjggMy44MThMMC42NzY0NSAzLjk1OTQyTDMuODU4NDUgNy4xNDE0MkwzLjk5OTg3IDcuMjgyODRMNC4xNDEyOSA3LjE0MTQyTDkuNDQ0NzkgMS44Mzc5Mkw5LjU4NjI3IDEuNjk2NDVMOS40NDQ3NCAxLjU1NTAzTDguNzM3MjQgMC44NDgwMzFMOC41OTU4MSAwLjcwNjcwMkw4LjQ1NDQ0IDAuODQ4MDg4WiIgZmlsbD0id2hpdGUiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMC40Ii8+Cjwvc3ZnPgo=) no-repeat center;
				position: absolute;
				left: 10px;
				top: calc(50% - 10px);
				transition: all 0.3s ease;
				opacity: 0;
			}

			&.selected {
				&::after {
					opacity: 1;
				}
			}
		}
	}
}

// ---- Selectric ----

.awsm-selectric {
	border-radius:
		var(--hz-ls-border-radius-topleft, 5px) var(--hz-ls-border-radius-topright, 5px) var(--hz-ls-border-radius-bottomright, 5px) var(--hz-ls-border-radius-bottomleft, 5px) !important;
	border: var(--hz-ls-border-width, 1px) solid var(--hz-ls-border-color, #d5d5d5) !important;
	background-color: var(--hz-sf-bg-color);
	color: var(--hz-sf-tx-color);
}

.awsm-selectric .label {
	color: var(--hz-sf-tx-color);
}

.awsm-b-list-item h2.awsm-b-job-post-title {
	margin-bottom: 0;
}

// ---- More Details ----

.awsm-jobs-b-more-details {
	border-radius: 5px !important;
	border: 1px solid #d5d5d5 !important;
	padding: 20px;
}

// ---- Job More Button ----

.awsm-b-job-more {
	background-color: var(--hz-b-bg-color);
	color: var(--hz-b-tx-color) !important;
	border: var(--hz-bs-border-width, 1px) solid var(--hz-bs-border-color, #4e35df);
	border-radius:
		var(--hz-bs-border-radius-topleft, 5px) var(--hz-bs-border-radius-topright, 5px) var(--hz-bs-border-radius-bottomright, 5px) var(--hz-bs-border-radius-bottomleft, 5px) !important;
	display: inline-flex;
	gap: 8px;
	align-items: center;
	padding-top: var(--hz-b-padding-top, 13px);
	padding-right: var(--hz-b-padding-right, 13px);
	padding-bottom: var(--hz-b-padding-bottom, 13px);
	padding-left: var(--hz-b-padding-left, 13px);
	font-size: 14px;
	line-height: 1;
	text-decoration: none;
	border-style: var(--hz-bs-border-style, solid);
}

.awsm-b-job-more:hover{
	background-color: color-mix(in srgb, var(--hz-b-bg-color), black 5%);
	color: var(--hz-b-tx-color);
}

@media (max-width: 767px) {
	.awsm-job-2-col .awsm-jobs-alerts-on .awsm-b-filter-item-search {
	  width: calc(100% - 66px);
	}

	.awsm-job-2-col .awsm-jobs-alerts-on .awsm-jobs-alerts-popup-trigger-btn .awsm-b-jobs-alerts-trigger-btn{
		margin-left: 10px;
		margin-right: 10px;
	}
}